.App{
  height: 100vh;
  background: url('../src/assets/1.jpeg');
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;    
  padding: 0 !important;
  margin: 0 !important;
}
#container{
 
   height: 100vh !important;
   width: 100% !important;
   margin: 0px auto !important;
   
}

.home{
    height: 100vh;
    background: url('../src/assets/1.jpeg');
    background-blend-mode: screen;
    background-size: cover;
    background-attachment: fixed;    
}
#form{
  background-color: green;
  margin: 0 auto !important;
}

 

.space-grotesk-font {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
